

body {
  font-family: "Montserrat";
  min-width: 1200px;
}

.wrapper {
  background-image: url(../img/Sections/section-1\(header\).jpg);
  height: 1012px;
  background-repeat: no-repeat;
}

.header {
  height: 120px;
  position: fixed;
  background: rgba(94, 93, 88, 0.6);
  width: 100%;
}

.header-polygon a{
 text-decoration: none;
}


.header-background {
  width: 1160px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header img:first-child {
  padding-top: 26px;
}
.header span:nth-child(2) {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  position: relative;
  right: 49px;
  bottom: 19px;
}
.header span:nth-child(3) {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  position: relative;
  right: 33px;
  bottom: 23px;
}

.header span:nth-child(4) {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #18cfab;
  position: relative;
  right: 33px;
  bottom: 23px;
}
.header-nav-item {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 120px;
  color:rgba(255, 255, 255, 0.6);
  margin-right: 21.09px;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
}

.header-nav-list li:last-child {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  top: 3px;
  cursor: pointer;
}

.header-nav-item:hover {
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.page {
  position: relative;
  top: 379px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-content span {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 35px;
  text-transform: uppercase;
}
.page-content :first-child {
  color: #ffffff;
}

.page-content :nth-child(2) {
  color: #18cfab;
}

.page-creative {
  font-weight: 700;
  font-size: 78px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 22px;
  margin-bottom: 22px;
}

.page-just {
  color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  font-weight: 100;
}

.button {
  font-size: 15px;
  text-align: center;
  position: relative;
  top: 607px;
}

.explore {
  font-weight: 700;
  margin: 0 26px 0 0;
  color: #ffffff;
  line-height: 32px;
  background: #18cfab;
  min-width: 169px;
  min-height: 63px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 -5px;
  text-transform: uppercase;
}

.purchase {
  font-weight: 700;
  line-height: 32px;
  color: #ffffff;
  min-width: 168px;
  min-height: 64px;
  background: #00cbf6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 -5px;
}

.shape {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  box-shadow: 0 -8px;
  color: #ffffff;
  margin-bottom: 8px;
  width: 100vw;
}

.shape-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 24px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.dark {
  color: rgba(24, 207, 171, 1);
  background: #1c2a33;
  padding-top: 85px;
  height: 292px;
  width: 482px;
}

.light {
  color: #ffffff;
  background: #18cfab;
  padding-top: 85px;
  height: 292px;
  width: 482px;
}

.dark img {
  max-width: 60px;
  max-height: 97px;
  margin-bottom: 48px;
}

.light img {
  max-width: 99px;
  max-height: 76px;
  margin-bottom: 58px;
}
.services {
  padding-top: 83px;
}
.services-page-title {
  position: relative;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #4e4e4e;
}

.line-first {
  top: 4px;
  position: relative;
  left: 51px;
}
.line-second {
  position: relative;
  right: 53px;
}

.tabs {
  display: flex;
  color: #717171;
  width: 1160px;
  margin: auto;
  padding-bottom: 28px;
  padding-top: 69px;
  font-weight: 400;
  font-size: 14px;
}

.tabs-title {
  flex: 1;
  background-color: #f8fcfe;
  text-align: center;
  padding: 18px 17px;
  cursor: pointer;
  line-height: 39px;
  flex-basis: 16%;
  border-top: 1px solid #edefef;
  border-bottom: 1px solid #edefef;
}

.tabs-title:nth-child(odd) {
  border-right: 1px solid #edefef;
  border-left: 1px solid #edefef;
}

.tabs-title:last-child {
  border-right: 1px solid #edefef;
}

.tabs-title:hover {
  border: 1px solid #18cfab;
}

.tabs-title.active {
  background-color: #18cfab;
  color: #fff;
  position: relative;
  border: none;
}

.tabs-title.active:after {
  content: " ";
  background: #18cfab;
  display: block;
  height: 15px;
  position: absolute;
  width: 27px;
  top: 63px;
  left: 50%;
  margin-left: -5px;
  z-index: 99;
  transform: rotate(-224deg);
  transform-origin: 50% 50%;
}

.tab-content {
  display: none;
  color: #777777;
  font-size: 13.645px;
  line-height: 25px;
  font-weight: 300;
  width: 1160px;
  margin: auto;
}

.tab-content.content-active {
  display: flex;
}

.content-active img:first-child {
  margin-right: 20px;
}

.conteiner {
  background: url("../img/Sections/section-2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 91px;
  margin-bottom: 0;
  min-height: 476px;
  text-align: center;
  display: flex;
  background-color: #e9edef;
}

.conteiner-contein {
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.conteiner h2 {
  color: #18cfab;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 13px;
  text-transform: uppercase;
  padding-top: 127px;
}

.conteiner p {
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.conteiner button {
  margin-top: 62px;
  margin-bottom: 127px;
}

.work {
  padding-top: 95px;
  padding-bottom: 255px;
}

.header-title {
  padding-top: 8%;
}
.tabs-amazing-work {
  display: flex;
  margin-top: 45%;
}



.amazing-work-list {
  margin: auto;
  width: 1140px;
}
.buttons {
  margin: auto;
  height: 58px;
  width: 582px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 71px;
}

 .buttons button{
  width: 100%;
  color: #717171;
  width: 100%;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #DADADA;
}

.buttons-content{
  padding-top: 69px;
}

.buttons button:hover{
    border: 1.5px solid #18cfab;
    color: #18cfab;
}
.creative-disign {
  background-color: #e9edef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat";
  border-top: 6px solid #18cfab;
  width: 279px;
  height: 200px;
  position: absolute;
}
.creative-disign h1 {
  font-weight: 700;
  font-size: 14px;
  color: #18cfab;
  text-transform: uppercase;
}
.creative-disign p {
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}
.creative-disign img {
  width: 88px;
  height: 43px;
  padding-bottom: 2%;
}


#loadMoreButton{
    font-weight: 700;
    color: #ffffff;
    line-height: 32px;
    background: #18cfab;
    min-width: 169px;
    min-height: 63px;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 107px;
}

.container-news-wrapper {
  width: 1160px;
  height: 594px;
  padding-top: 68px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: auto;
}

.container-news-item {
  position: relative;
  width: 263px;
}

.container-news-item a{
  text-decoration: none;
}

.container-news-link {
  text-decoration: none;
}

.container-news-img {
  width: 263px;
  height: 208px;
}

.container-news-date {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  display: block;
  width: 70px;
  height: 68px;
  background-color: #203e38;
  border: 0;
  padding-top: 15px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.container-news-month {
  display: block;
  margin-top: 6px;
  position: relative;
  bottom: 20px;
}

.container-news-feb{
 position: relative;
 bottom: 30px;
}

.common-container-news-title {
  display: block;
  width: 210px;
  font-weight: 700;
  font-size: 17.99px;
  color: #717171;
  text-align: center;
  margin-top: 11px;
}

.container-news-text {
  display: block;
  font-weight: 300;
  font-size: 13.99px;
  margin-top: 11px;
  width: 210px;
  text-align: center;
  color: #777777;
}

.container-news-admin {
  margin-right: 13px;
}

.container-news-comment {
  margin-left: 13px;
}

.container-news-link:hover .container-news-date {
  background-color: #18cfab;
}

.container-news-link:hover .common-container-news-title {
  color: #18cfab;
}


.peopel{
background-image: url(../img/Sections/section-3.jpg);
height: max-content;
padding-top: 98px;
text-align: center;
}


.peopel h2{
  font-weight: 400;
 font-size: 36px;
 color: white;
 padding-bottom: 25px;
}

.shape-duble{
  padding-top: 67px;
}


.carousel {
  position: relative;
  width: 1160px;
  margin: auto;
}

.carousel-inner {
  text-align: center;
  display: flex;
}

.carousel-item {
  flex: 0 0 100%;
  display: none;
  position: relative;
}

.carousel-item.active {
  display: block;
}

.carousel-item img {
  position: relative;
  top: 185px;
  height: auto;
  border-radius: 50%;
  border: 8px solid #18cfab4f;

}

.carousel-caption {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.carousel-caption p,
.carousel-caption span {
  color: #bbbbbb;
  padding-top: 20px;
}

.carousel-caption h3 {
  color: #18cfab;
  padding-top: 37px;
}

.carousel-thumbnails {
  display: flex;
  justify-content: center;
  padding-top: 260px;
  padding-bottom: 260px;
}

.carousel-thumbnails img {
  width: 50px;
  height: auto;
  margin: 0 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 8px solid #18cfab4f;
}

.carousel-control-prev,
.carousel-control-next {
  width: 31px;
  height: 31px;
  border: 1px solid #bbbbbb;
  text-decoration: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover{
  border: none;
  background-color: #18cfab;
}

.carousel-control-icon {
  display: inline-block;
  margin-top: 5px;
}

.carousel-control-prev {
  position: absolute;
  top: 408px;
  left: 298px;
}

.carousel-control-next {
  position: absolute;
  top: 410px;
  right: 298px;
}

.carousel-thumbnails img.active {
  position: relative;
  bottom: 10px;
}

.sr-only svg {
  position: relative;
  top: 7px;
  left: 6px;
}

.carousel-control-prev{
  background-image: url(../img/left.png);
  background-repeat: no-repeat;
  background-position-x: 9px;
  background-position-y: 9px;
}

.carousel-control-prev:hover{

 background-image: url(../img/left2.png);
 background-repeat: no-repeat;
}

.carousel-control-next{
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-position-x: 11px;
  background-position-y: 9px;
}

.carousel-control-next:hover{

  background-image: url(../img/right2.png);
  background-repeat: no-repeat;
}


footer {
  background: #22353f;
  text-align: center;
  padding: 48px 0 47px 0;
}

#footer {
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  color: #aeaeae;
}

#footer span {
  color: rgba(24, 207, 171, 1);
}

